In [4]:
#Visualisera data

import pandas as pd

df = pd.read_csv("customer_data.csv")
df.head()

,name,age,phone,email,purchase_frequency
0,Charlie Becker,32,076--901931,charlie.becker@distansakademin.se,medium
1,Charlie Jackson,21,078--813144,charlie.jackson@distansakademin.se,high
2,Bob Smith,51,072--651048,bob.smith@distansakademin.se,medium
3,Alice Alexandre,50,079--812809,alice.alexandre@distansakademin.se,low
4,Rafael Larsson,39,074--613776,rafael.larsson@distansakademin.se,high