In [1]:
import pandas as pd

df = pd.read_csv("customer_data.csv")

#visa f√∂rsta 5 raderna
df.head()

,name,age,phone,email,purchase_frequency
0,Liselle Jackson,27,074--113555,liselle.jackson@distansakademin.se,high
1,Bob Alexandre,invalid_age,077--898407,bob.alexandre@distansakademin.se,low
2,Alice Alexandre,invalid_mail,074--577550,alice.alexandre@distansakademin.se,medium
3,Rafael Larsson,60,071--510207,rafael.larsson@distansakademin.se,high
4,Rafael Jackson,45,075--498434,rafael.jackson@distansakademin.se,low